{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container-fluid mt-4" {{ stimulus_controller('reload-content', {
        url: path('app_product_admin_index', { ajax: 1 })
    }) }}
    {{ stimulus_action('reload-content', 'refreshContent', 'modal-form:success') }}
>
    <div class="d-flex flex-row">
        <h1>Product index</h1>

        <div
            {{ stimulus_controller('modal-form', {
                formUrl: path('app_product_admin_new')
            }) }}
            {{ stimulus_action('modal-form', 'modalHidden', 'hidden.bs.modal') }}
        >
            <button
                    class="btn btn-primary btn-sm ms-3"
                    {{ stimulus_action('modal-form', 'openModal', 'click') }}
                >Add+</button>

            {{ include('_modal.html.twig', {
                modalTitle: 'Add a new Product',
            }) }}
        </div>
    </div>

    <div {{ stimulus_target('reload-content', 'content') }}>
        {{ include('product_admin/_list.html.twig') }}
    </div>

    <a href="{{ path('app_product_admin_new') }}">Create new</a>
</div>
{% endblock %}
